<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>LNMHacks 3.0</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    </head>
    <body>
    	<h1 align='center'>{{heading}}</h1>
        <div>
            <a href="/about">About</a>
            {% if logged_in %}
            <a href="/index">Logout</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/dataset/dashboard">Info</a>
            {% else %}
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% block dataAnalyser %}{% endblock %}
    </body>
</html>