{% extends "base.html" %}

{% block content %}
    <h1>Upload Csv</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.csv.label }}<br>
            {{ form.csv(size=32) }}<br>
            {% for error in form.csv.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.filename.label }}<br>
            {{ form.filename(size=32) }}<br>
            {% for error in form.filename.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <br> <br>
    
    <h1>Load Dataset</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    </form>
{% endblock %}